<a href="https://colab.research.google.com/github/kthanikonda/DataWithPython/blob/main/Real_Estate_Project-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Dataset Selection and Initial Exploration

**Dataset:** Real Estate Sales Data (2001-2022)

**Source:** https://www.kaggle.com/datasets/omniamahmoudsaeed/real-estate-sales-2001-2022

**About Dataset:** This dataset provides detailed information about property sales, including various property features and sale statistics. The data spans multiple years and includes information about towns, property types, sale amounts, assessed values, and additional remarks from assessors.

### About the Columns in the Dataset

This dataset contains information about property sales. Below is what each column represents:

1. **Serial Number -** A unique ID for each property.  
2. **List Year -** The year the property was listed for sale.  
3. **Date Recorded -** When the sale was officially recorded.  
4. **Town -** The city or town where the property is located.  
5. **Address -** The street address of the property.  
6. **Assessed Value -** The value assigned for tax purposes.  
7. **Sale Amount -** The actual price the property sold for.  
8. **Sales Ratio -** Compares the sale price to the assessed value.  
9. **Property Type -** The type of property (e.g., Residential, Commercial).  
10. **Residential Type -** If residential, the specific type (e.g., Single Family).  
11. **Non Use Code -** Codes for properties not typically used (e.g., vacant land).  
12. **Assessor Remarks -** Additional notes from the assessor.  
13. **OPM Remarks -** Notes from the Office of Property Management.  
14. **Location -** The exact geographic coordinates (latitude and longitude).

# 2. Loading the Dataset into Colab

*   To begin the analysis, we first upload the dataset to Google Colab using the `files.upload()` method provided by `google.colab`. After uploading, we read the dataset using `pandas`.
*   We display the first few rows to get an initial idea of what the data looks like using `df.head()`

In [99]:
from google.colab import files
import os

uploaded = files.upload()

Saving Real_Estate_Sales_2001-2022_GL.csv to Real_Estate_Sales_2001-2022_GL (2).csv

In [100]:
import pandas as pd

df = pd.read_csv("Real_Estate_Sales_2001-2022_GL.csv")

df.head()

<ipython-input-100-50b421269604>:3: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Real_Estate_Sales_2001-2022_GL.csv")

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,NaN,NaN,NaN,POINT (-73.06822 41.35014)
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,Three Family,NaN,NaN,NaN,NaN
2,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,Two Family,NaN,NaN,NaN,NaN
4,210288,2021,06/20/2022,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,Condo,NaN,NaN,NaN,POINT (-72.879115982 41.773452988)

# 3. Data Import and Cleaning

In this section, We examine the dataset for missing values, inconsistent data, and incorrect data types. We also perform appropriate cleaning steps to ensure the dataset is ready for analysis.

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097629 entries, 0 to 1097628
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Serial Number     1097629 non-null  int64
 1   List Year         1097629 non-null  int64
 2   Date Recorded     1097627 non-null  object
 3   Town              1097629 non-null  object
 4   Address           1097578 non-null  object
 5   Assessed Value    1097629 non-null  float64
 6   Sale Amount       1097629 non-null  float64
 7   Sales Ratio       1097629 non-null  float64
 8   Property Type     715183 non-null   object
 9   Residential Type  699240 non-null   object
 10  Non Use Code      313451 non-null   object
 11  Assessor Remarks  171228 non-null   object
 12  OPM remarks       13031 non-null    object
 13  Location          298111 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 117.2+ MB

In [102]:
df.describe()

       Serial Number     List Year  Assessed Value   Sale Amount   Sales Ratio
count   1.097629e+06  1.097629e+06    1.097629e+06  1.097629e+06  1.097629e+06
mean    5.370357e+05  2.011218e+03    2.818016e+05  4.053146e+05  9.603926e+00
std     7.526074e+06  6.773485e+00    1.657890e+06  5.143492e+06  1.801664e+03
min     0.000000e+00  2.001000e+03    0.000000e+00  0.000000e+00  0.000000e+00
25%     3.071300e+04  2.005000e+03    8.909000e+04  1.450000e+05  4.778667e-01
50%     8.070600e+04  2.011000e+03    1.405800e+05  2.330000e+05  6.105663e-01
75%     1.703410e+05  2.018000e+03    2.282700e+05  3.750000e+05  7.707200e-01
max     2.000500e+09  2.022000e+03    8.815100e+08  5.000000e+09  1.226420e+06

In [103]:
df.isnull().sum()

Serial Number             0
List Year                 0
Date Recorded             2
Town                      0
Address                  51
Assessed Value            0
Sale Amount               0
Sales Ratio               0
Property Type        382446
Residential Type     398389
Non Use Code         784178
Assessor Remarks     926401
OPM remarks         1084598
Location             799518
dtype: int64

In [110]:
# See % of missing values
missing_percent = (df.isnull().sum() / len(df)) * 100
missing_percent.sort_values(ascending=False)

Location            72.840459
Residential Type    36.295415
Property Type       34.842921
Address              0.004646
Date Recorded        0.000182
List Year            0.000000
Serial Number        0.000000
Sale Amount          0.000000
Assessed Value       0.000000
Town                 0.000000
Sales Ratio          0.000000
dtype: float64

In [117]:
# Step 1: Copy the original DataFrame to preserve raw data
cleaned_df = df.copy()
print(" Original DataFrame copied to 'cleaned_df'.")

# Step 2: Drop columns with too many missing values
columns_to_drop = ['Non Use Code', 'Assessor Remarks', 'OPM remarks']
cleaned_df.drop(columns=[col for col in columns_to_drop if col in cleaned_df.columns], inplace=True)
print(f"Dropped columns: {columns_to_drop}")

cleaned_df = df.dropna(subset=['Date Recorded', 'Address', 'Location','Residential Type', 'Property Type' ])


print("Remaining rows after cleaning:", len(cleaned_df))
cleaned_df.info()

 Original DataFrame copied to 'cleaned_df'.
Dropped columns: ['Non Use Code', 'Assessor Remarks', 'OPM remarks']
Remaining rows after cleaning: 214091
<class 'pandas.core.frame.DataFrame'>
Index: 214091 entries, 0 to 1097628
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     214091 non-null  int64
 1   List Year         214091 non-null  int64
 2   Date Recorded     214091 non-null  object
 3   Town              214091 non-null  object
 4   Address           214091 non-null  object
 5   Assessed Value    214091 non-null  float64
 6   Sale Amount       214091 non-null  float64
 7   Sales Ratio       214091 non-null  float64
 8   Property Type     214091 non-null  object
 9   Residential Type  214091 non-null  object
 10  Location          214091 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 19.6+ MB

In [120]:
# Step 4: Convert 'Date Recorded' to datetime format
cleaned_df['Date Recorded'] = pd.to_datetime(cleaned_df['Date Recorded'], errors='coerce')
print("Converted 'Date Recorded' to datetime format.")

# Step 5: Extract coordinates from 'Location' column
cleaned_df['Longitude'] = cleaned_df['Location'].str.extract(r'POINT \((-?\d+\.\d+)')
cleaned_df['Latitude'] = cleaned_df['Location'].str.extract(r'POINT \(-?\d+\.\d+ (\d+\.\d+)')

# Convert extracted coordinates to numeric (float)
cleaned_df['Longitude'] = pd.to_numeric(cleaned_df['Longitude'], errors='coerce')
cleaned_df['Latitude'] = pd.to_numeric(cleaned_df['Latitude'], errors='coerce')
print(" Extracted and converted 'Longitude' and 'Latitude' from 'Location' column.")

<ipython-input-120-479132b41c89>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Date Recorded'] = pd.to_datetime(cleaned_df['Date Recorded'], errors='coerce')

Converted 'Date Recorded' to datetime format.

<ipython-input-120-479132b41c89>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Longitude'] = cleaned_df['Location'].str.extract(r'POINT \((-?\d+\.\d+)')

 Extracted and converted 'Longitude' and 'Latitude' from 'Location' column.

<ipython-input-120-479132b41c89>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Latitude'] = cleaned_df['Location'].str.extract(r'POINT \(-?\d+\.\d+ (\d+\.\d+)')
<ipython-input-120-479132b41c89>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Longitude'] = pd.to_numeric(cleaned_df['Longitude'], errors='coerce')
<ipython-input-120-479132b41c89>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Latitude'] = pd.to_numeric(cleaned_df['Latitude'], errors='coerce')

In [126]:
cleaned_df = cleaned_df.dropna(subset=['Longitude', 'Latitude'])

In [121]:
# Step 6: Show result of cleaning
print("\n Cleaned DataFrame Overview:")
print(cleaned_df.info())

 Cleaned DataFrame Overview:
<class 'pandas.core.frame.DataFrame'>
Index: 214091 entries, 0 to 1097628
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     214091 non-null  int64
 1   List Year         214091 non-null  int64
 2   Date Recorded     214091 non-null  datetime64[ns]
 3   Town              214091 non-null  object
 4   Address           214091 non-null  object
 5   Assessed Value    214091 non-null  float64
 6   Sale Amount       214091 non-null  float64
 7   Sales Ratio       214091 non-null  float64
 8   Property Type     214091 non-null  object
 9   Residential Type  214091 non-null  object
 10  Location          214091 non-null  object
 11  Longitude         214090 non-null  float64
 12  Latitude          214090 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(5)
memory usage: 22.9+ MB
None

 First few rows of cleaned data:
    Serial Number  List Year Date Recorded        Town         Address  \
0         2020177       2020    2021-04-14     Ansonia   323 BEAVER ST
4          210288       2021    2022-06-20        Avon  12 BYRON DRIVE
6          200121       2020    2020-12-15        Avon    63 NORTHGATE
32         212150       2021    2022-08-30  Bridgeport  126 KENNEDY DR
37          20188       2020    2021-07-19  Burlington    206 COVEY RD

    Assessed Value  Sale Amount  Sales Ratio Property Type Residential Type  \
0         133000.0     248400.0       0.5354   Residential    Single Family
4         179990.0     362500.0       0.4965   Residential            Condo
6         528490.0     775000.0       0.6819   Residential    Single Family
32         70850.0     130000.0       0.5450   Residential            Condo
37        286860.0     540000.0       0.5312   Residential    Single Family

                              Location  Longitude   Latitude
0           POINT (-73.06822 41.35014) -73.068220  41.350140
4   POINT (-72.879115982 41.773452988) -72.879116  41.773453
6           POINT (-72.89675 41.79445) -72.896750  41.794450
32  POINT (-73.221583028 41.214441988) -73.221583  41.214442
37          POINT (-72.97635 41.79258) -72.976350  41.792580

In [127]:
print("\n First few rows of cleaned data:")
print(cleaned_df.head())

 First few rows of cleaned data:
    Serial Number  List Year Date Recorded        Town         Address  \
0         2020177       2020    2021-04-14     Ansonia   323 BEAVER ST
4          210288       2021    2022-06-20        Avon  12 BYRON DRIVE
6          200121       2020    2020-12-15        Avon    63 NORTHGATE
32         212150       2021    2022-08-30  Bridgeport  126 KENNEDY DR
37          20188       2020    2021-07-19  Burlington    206 COVEY RD

    Assessed Value  Sale Amount  Sales Ratio Property Type Residential Type  \
0         133000.0     248400.0       0.5354   Residential    Single Family
4         179990.0     362500.0       0.4965   Residential            Condo
6         528490.0     775000.0       0.6819   Residential    Single Family
32         70850.0     130000.0       0.5450   Residential            Condo
37        286860.0     540000.0       0.5312   Residential    Single Family

                              Location  Longitude   Latitude
0           POINT (-73.06822 41.35014) -73.068220  41.350140
4   POINT (-72.879115982 41.773452988) -72.879116  41.773453
6           POINT (-72.89675 41.79445) -72.896750  41.794450
32  POINT (-73.221583028 41.214441988) -73.221583  41.214442
37          POINT (-72.97635 41.79258) -72.976350  41.792580

In [128]:
cleaned_df.isnull().sum()

Serial Number       0
List Year           0
Date Recorded       0
Town                0
Address             0
Assessed Value      0
Sale Amount         0
Sales Ratio         0
Property Type       0
Residential Type    0
Location            0
Longitude           0
Latitude            0
dtype: int64

In [129]:
cleaned_df.describe()

,Serial Number,List Year,Date Recorded,Assessed Value,Sale Amount,Sales Ratio,Longitude,Latitude
count,2.140900e+05,214090.000000,214090,2.140900e+05,2.140900e+05,2.140900e+05,214090.000000,214090.000000
mean,1.200893e+06,2017.340352,2018-08-08 16:24:18.631416832,2.546143e+05,4.155937e+05,7.203860e+00,-72.883983,41.494175
min,2.100000e+01,2006.000000,2001-09-04 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,-121.230910,34.345810
25%,9.036200e+04,2014.000000,2015-03-27 00:00:00,1.103900e+05,1.750000e+05,4.851000e-01,-73.198425,41.284940
50%,1.908950e+05,2020.000000,2021-02-24 00:00:00,1.600750e+05,2.750000e+05,5.922746e-01,-72.907790,41.497220
75%,2.121918e+05,2021.000000,2022-06-24 00:00:00,2.488850e+05,4.250000e+05,7.353997e-01,-72.636676,41.710912
max,1.710011e+09,2022.000000,2023-09-29 00:00:00,6.864697e+07,3.187900e+08,1.226420e+06,-71.788506,44.934590
std,1.214388e+07,5.037385,NaN,9.149325e+05,1.114362e+06,2.668581e+03,0.446663,0.259051

In [130]:
num_full_duplicates = cleaned_df.duplicated().sum()
print(f"Number of fully duplicated rows: {num_full_duplicates}")

Number of fully duplicated rows: 0

In [132]:
zero_sales_count = (cleaned_df['Sale Amount'] == 0).sum()
print(f"Rows with Sale Amount = 0: {zero_sales_count}")

Rows with Sale Amount = 0: 18

In [133]:
cleaned_df['Valid Sale'] = cleaned_df['Sale Amount'] > 0

print(" Count of valid and invalid sales:")
print(cleaned_df['Valid Sale'].value_counts())

 Count of valid and invalid sales:
Valid Sale
True     214072
False        18
Name: count, dtype: int64

In [134]:
cleaned_df[['Sale Amount', 'Valid Sale']].head(10)

    Sale Amount  Valid Sale
0      248400.0        True
4      362500.0        True
6      775000.0        True
32     130000.0        True
37     540000.0        True
40     197000.0        True
51      42500.0        True
54     325000.0        True
65     175000.0        True
75     165000.0        True

In [135]:
print(f" Total records in cleaned_df: {len(cleaned_df)}")

 Total records in cleaned_df: 214090

In [136]:
cleaned_df['Valid Assessed'] = cleaned_df['Assessed Value'] > 0
print(cleaned_df['Valid Assessed'].value_counts())

Valid Assessed
True     213541
False       549
Name: count, dtype: int64

In [137]:
for col in ['Town', 'Property Type', 'Residential Type']:
    cleaned_df[col] = cleaned_df[col].str.strip().str.title()

In [138]:
cleaned_df.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Location,Longitude,Latitude,Valid Sale,Valid Assessed
0,2020177,2020,2021-04-14,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,POINT (-73.06822 41.35014),-73.068220,41.350140,True,True
4,210288,2021,2022-06-20,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,Condo,POINT (-72.879115982 41.773452988),-72.879116,41.773453,True,True
6,200121,2020,2020-12-15,Avon,63 NORTHGATE,528490.0,775000.0,0.6819,Residential,Single Family,POINT (-72.89675 41.79445),-72.896750,41.794450,True,True
32,212150,2021,2022-08-30,Bridgeport,126 KENNEDY DR,70850.0,130000.0,0.5450,Residential,Condo,POINT (-73.221583028 41.214441988),-73.221583,41.214442,True,True
37,20188,2020,2021-07-19,Burlington,206 COVEY RD,286860.0,540000.0,0.5312,Residential,Single Family,POINT (-72.97635 41.79258),-72.976350,41.792580,True,True

In [139]:
cleaned_df.to_csv('cleaned_real_estate_data.csv', index=False)